@import './vars.scss';

@font-face {
    font-family: Moon;
    src: url('../fonts/Moon2.0-Regular.otf');
}

@font-face {
    font-family: Moon;
    src: url('../fonts/Moon2.0-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: Moon;
    src: url('../fonts/Moon2.0-Light.otf');
    font-weight: light;
}