@import './vars.scss';

.App-link {
    color: #61dafb;
    margin: 0 10px;
    text-decoration: none;
    transition: 1s;
    opacity: 0.8;
    &:hover {
        font-size: calc(10px + 3vmin);
        opacity: 1;
    }
}

@font-face {
    font-family: Moon;
    src: url('../fonts/Moon2.0-Regular.otf');
}

@font-face {
    font-family: Moon;
    src: url('../fonts/Moon2.0-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: Moon;
    src: url('../fonts/Moon2.0-Light.otf');
    font-weight: light;
}